<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style2.css">

  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <header>
      <h1>Tareas News App</h1>
      <a href="/" class="back-button"> Volver a la pagina de Incio</a>
      <hr class="rounded ">
      <h1>Resultados de Busqueda</h1>
      <hr>
    </header>
    <main>
        {{#if news.length}}
      <ul>
      {{#each news}}
        <li class="box pb-2">
          <h2>{{this.title}}</h2>
          <p>{{this.description}}</p>
          <img src="{{this.urlToImage}}" alt="{{this.title}}" class="center_img pb-5" style="max-width: 300px; height: auto;">
          <div class="box_color">
            <a href="{{this.url}}" target="_blank">Leer más</a>
          </div>
        </li>
        {{/each}}
      </ul>
      {{else}}
        <p>No se encontraron resultados.</p>
        <a href="/" class="back-button">Volver a la pagina principal</a>
      {{/if}}
    </main>
    <footer>
        <span>&copy; ITESO 2023</span>
    </footer>
  
  
  </body>
</html>